#form_user_new_access
{
    max-width: 600px;
 } 

#form_user_new_access_center
{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;    
} 

#form_user_new_access_botao
{
    margin-top: 20px;
}  

